# Ignore Gradle project-specific cache directory
.gradle

.classpath
*.iml
build 
bin

# Ignore Gradle build output directory
site/
target/

# Local Netlify folder
.netlify

# .DS_Store
.DS_Store

# .Jenv file
.java-version
